<h1><%= @world.name %></h1>

<p>user : <%= @world.user.email %></p>


<p><%= @world.public == 1 ? "public" : "privé" %></p>
<% if @world.public == 1 %>
  <%= link_to "Create character", :controller => :character, :action => :new, world_id: @world.id %>
    
<% end %>