.i {
  background-size: cover;
  background-repeat: no-repeat;
}

.i-play {
  background-image:url('icons/play.svg');
  width:16px;
  height: 18px;
}

.i-play-big {
  background-image:url('icons/play.svg');
  width:30px;
  height: 32px;
}

.i-arr_left {
  background-image:url('arr_left.png');
}

.i-arr_right {
  background-image:url('arr_right.png');
}

.i-edit {
  background-image:url('icons/edit.svg');
  width: 17px;
  height:16px;
}

.i-edit-big {
  background-image:url('icons/edit.svg');
  width: 30px;
  height:29px;
}

.i-eye-deactivated {
  background-image:url('eye-deactivated.png');
}

.i-game {
  background-image:url('game.png');
  width: 24px;
  height: 13px;
}

.i-mj {
  background-image:url('icons/mj-avatar.svg');
  width: 50px;
  height: 50px;
}

.i-potion {
  background-image:url('icons/potion.png');
}

.i-share {
  background-image:url('icons/share.svg');
  width: 18px;
  height: 18px;
}

.i-share-big {
  background-image:url('icons/share.svg');
  width: 30px;
  height: 30px;
}

.i-shield {
  background-image:url('shied.png');
}

.i-triangle {
  background-image:url('triangle.png');
}

.i-return {
  background-image: url('icons/white-return.svg');
  width: 32px;
  height: 32px;
}

.i-menu {
  background-image: url('icons/triangle-menu.svg');
  width: 10px;
  height: 6px;
  display: inline-block;
  margin: 0 5px;
}
