nav {
  position:relative;
  z-index: 0;
  background-color: transparent;

  .dropdown-button {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
  }

  #dropdown1 {
    position: relative;
    top: 93px;
  }
}
