// Reset
html, body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

body {
  background: url('session_background.png') no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

// Colors
$primary: rgba(255, 138, 0, 1);
$secondary: rgba(255, 202, 0, 1);
$white: rgba(255, 255, 255, 1);

// Title
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

.title__primary {
  color: $primary;
}

p {
  color: $white;
}

// Buttons
.btn {

  &__primary {
    background-color: $primary;
    color: $white;
    height: 60px;
    &:hover {
      background-color: $secondary;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      max-width:200px;

      color: $white;
      font-family: 'latobold';
      font-size: 1.2em;
      line-height: 60px;
      letter-spacing: 0;
      text-transform: none;
      vertical-align: 25px;
    }

  }

  &__white {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    height: auto;
    &:hover {

    }
    &:visited {
      color: inherit !important;
    }
  }

}

a.btn:visited {
  color: #ffffff !important;
}

button:visited {
  background: inherit !important;
}

button:active {
  background: transparent !important;
}

button:focus {
  background: transparent !important;
}
